.cover-book {
    display: block;
    max-width: 70px;
    max-height: 120px;
}

.book-card {
    width: 70%;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid rgba(174, 174, 174, 0.129);
}

.book-card-info h3 {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.book-card-info span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.416);
    font-weight: 100;
}

.book-card-info p {
    font-size: 12px;
    width: 40ch;
    margin: 10px 0;
}