.cover-book {
    display: block;
    max-width: 70px;
    max-height: 120px;
}

.book-card {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid rgba(174, 174, 174, 0.129);
}

.book-card-info h3 {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.book-card-info span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.416);
    font-weight: 100;
}

.book-card-info p {
    font-size: 12px;
    width: 40ch;
    margin: 10px 0;
}

/* Animations */

.scale-up-hor-center {
    -webkit-animation: scale-up-hor-center 700ms ease-in both;
    animation: scale-up-hor-center 700ms ease-in both;
}

@-webkit-keyframes scale-up-hor-center {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes scale-up-hor-center {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}